.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.description {
    font-size: 14px;
    color: #909090;
    line-height: 24px;
    text-align: center;
    padding: 15px;
}

.breakLine {
    display: none;
}

@media (min-width:1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:30px;
        margin-top: 15px;
    }

    .description{
        font-size: 18px;
        line-height: 36px;
        padding: 20px 50px;
    }

    .breakLine {
        display: block;
        border: 1px solid #e5e5e5;
        margin: 20px;
    }
}