.container {
  width: 50%;
  max-width: 192px;
  color: #777777;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(85, 85, 85, 0.25);
  background: #fff;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.mainHeader {
  flex-basis: 80%;
  padding-left: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free {
  flex-basis: 20%;
  margin-top: -22px;
  margin-left: -5px;
}

.header {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.underline {
  width: 21px;
  margin: 5px 0;
}

.amount {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 8px 0;
}

.time {
  font-size: 9px;
}

.items {
  list-style: none;
  margin: 40px 0;
}

.items li {
  background: url("../multi_step/image/checkMark.png") left no-repeat;
  padding: 8px 0 8px 25px;
  color: #909090;
  font-size: 9px;
  font-weight: 500;
}

.btnDiv {
  text-align: center;
  padding-bottom: 8px;
}

.btnDiv button {
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 30px;
  color: #777777;
  font-size: 9px;
}

@media (max-width: 700px) {
  .container {
    max-width: 146px;
  }

  .header {
    font-size: 12px;
  }

  .amount {
    font-size: 18px;
  }

  .time {
    font-size: 6px;
  }

  .items li {
    font-size: 6px;
  }

  .free {
    margin-top: -9px;
    margin-left: -5px;
  }
  .mainHeader {
    padding-left: 5px;
  }
}
